#pawn-one {
    transition: all 0.5s;
}
#pawn-two {
    transition: all 0.5s;
}
#pawn-three {
    transition: all 0.5s;
}
#horse-one {
    transition: all 0.5s;
}
#horse-two {
    transition: all 0.5s;
}
#bishop-one {
    transition: all 0.5s;
}
#queen-one {
    transition: all 0.5s;
}
