.horse {
    width: 50%;
    height: 65%;
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
    margin-block-start: 10%;
}
.horse__face {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 18%;
    left: 20%;
    border-radius: 50%;
}
.horse__mouth1 {
    width: 30%;
    height: 15%;
    border-radius: 40%;
    position: absolute;
    top: 45%;
    left: 18%;
    transform: rotate(-30deg);
}
.horse__mouth2 {
    width: 40%;
    height: 15%;
    border-radius: 40%;
    position: absolute;
    top: 33%;
    left: 8%;
    transform: rotate(-45deg);
}
.horse__ear1 {
    width: 25%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 20%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-25deg);
}
.horse__ear2 {
    width: 30%;
    height: 25%;
    position: absolute;
    top: 10%;
    left: 32%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(10deg);
}
.horse__eye {
    width: 8%;
    height: 4%;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 23%;
    transform: rotate(-60deg);
}
.horse__nose {
    width: 2%;
    height: 8%;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 18%;
    transform: rotate(35deg);
}
.horse__space {
    width: 30%;
    height: 10%;
    border-radius: 90% 10% 90% 10% / 90% 10% 90% 10%;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: rotate(-40deg);
}
