.king {
    position: relative;
}
.king::before {
    content: '';
    width: 45%;
    height: 25%;
    display: block;
    position: absolute;
    left: 27.5%;
    bottom: 12%;
    clip-path: polygon(0 100%, 100% 100%, 100% 63%, 84% 50%, 78% 37%, 78% 23%, 86% 10%, 100% 0, 0 0, 14% 10%, 22% 23%, 22% 37%, 16% 54%, 0 63%);
}
.king::after {
    top: 38%;
    left: 10%;
    transform: rotate(40deg);
}
.king__oval {
    width: 100%;
    height: 100%;
    position: absolute;
}
.king__oval::before {
    top: 38%;
    right: 10%;
    transform: rotate(-45deg);
}
.king__oval::after {
    content: '';
    width: 20%;
    height: 20%;
    display: block;
    border-radius: 30% 70% 10% 90% / 30% 90% 10% 70%;
    position: absolute;
    top: 24%;
    left: 40%;
    transform: rotate(45deg);
}
.king::after,
.king__oval::before {
    content: '';
    width: 60%;
    height: 30%;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.king__cross {
    width: 20%;
    height: 3%;
    position: absolute;
    top: 14%;
    left: 40%;
}
.king__cross::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform: rotate(90deg);
}
/* ----- Modifiers ----- */
.king--black::before,
.king--black::after,
.king--black .king__oval::before,
.king--black .king__oval::after,
.king--black .king__cross,
.king--black .king__cross::before {
    background-color: var(--black-piece);
}
.king--white::before,
.king--white::after,
.king--white .king__oval::before,
.king--white .king__oval::after,
.king--white .king__cross,
.king--white .king__cross::before {
    background-color: var(--white-piece);
}
