.knight {
    position: relative;
}
.knight::before {
    content: '';
    width: 50%;
    height: 65%;
    display: block;
    position: absolute;
    left: 25%;
    bottom: 10%;
    border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 58%, 21% 39%, 28% 38%, 35% 40%, 36% 47%, 32% 53%, 0 80%, 0 100%);
}
.knight__head {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 20%;
    left: 22%;
    border-radius: 50%;
}
.knight__head::before {
    content: '';
    width: 83.4%;
    height: 100%;
    position: absolute;
    top: -42%;
    left: 3%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-23deg);
}
.knight__head::after {
    content: '';
    width: 100%;
    height: 83.4%;
    position: absolute;
    top: -30%;
    left: 45%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(16deg);
}
/* ----- Modifiers ----- */
.knight--black::before,
.knight--black .knight__head,
.knight--black .knight__head::before,
.knight--black .knight__head::after {
    background-color: var(--black-piece);
}
.knight--white::before {
    background-color: var(--white-piece);
}
