@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --white: #E7E4D8;
    --black: #9C6A45;
    --white-piece: #FFF;
    --black-piece: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
button {
    padding: 0;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
/* --- --- --- HEADER STYLES --- --- --- */
.header {
    height: 5rem;
    display: grid;
    place-items: center;
    background-color: var(--black);
    color: var(--white-piece);
}
.header__title {
    font-size: 2.4rem;
    font-weight: 700;
}
/* --- --- --- MAIN STYLES --- --- --- */
.main {
    display: flex;
    flex-direction: column;
}
