.rook {
    clip-path: polygon(19% 93%, 82% 93%, 82% 78%, 70% 69%, 70% 40%, 80% 30%, 80% 14%, 66% 14%, 66% 23%, 56% 23%, 56% 14%, 42% 14%, 42% 23%, 34% 23%, 34% 14%, 20% 14%, 20% 30%, 30% 40%, 30% 68%, 19% 78%);
}
